


.icon_1{    font: 62.5% / 22px Verdana, Geneva, sans-serif;
    color: rgb(240, 140, 26);
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    background: transparent;
    font-family: doodlepic;
    font-weight: normal;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-style: normal !important;
    font-size: 120%;}

.speaker_text {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    color: #584f47;
    line-height: 1.2;
    font-weight: normal;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.speaker_name {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    color: #584f47;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: .5em;
    vertical-align: middle;
    font-size: 1.2em;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}

.speaker {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    border: 0;
    outline: 0;
    background: transparent;
    line-height: 1.2;
    font-weight: normal;
    vertical-align: middle;
    font-size: 0.9em;
    font-family: Verdana, Geneva, sans-serif;
    color: #4c4640;
    text-align: left;
    margin: 0;
    padding: 0;
}

.col_input {
    border-collapse: collapse;
    border-spacing: 0;
    outline: none;
    padding: .3em .6em;
    text-decoration: none !important;
    float: left;
    margin: 0;
    text-align: center;
    vertical-align: inherit;
    background: #584F47;
    font-size: 100%;
    border: 0px;
    font-family: inherit;
    box-sizing: border-box;
    color: #F7F3E4;
}

.email_input {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: .3em .5em;
    margin: 0;
    outline: none;
    max-width: 450px;
    background: #F7F3E4;
    color: #584F47;
    border: 0;
}

.col_label {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: block;
    padding: .3em 0 0 0;
    text-align: left;
    font-weight: bold;
}

.col_1 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    padding-left: .5em;
    vertical-align: top;
    text-align: inherit;
    padding-top: .2em;
    padding-bottom: .2em;
    max-width: 40%;
}

.col_2 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    padding-left: .5em;
    vertical-align: top;
    text-align: inherit;
    padding-top: .2em;
    padding-bottom: .2em;
}

.table_tr {
    -webkit-text-size-adjust: none;
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.home {
    display: flex;
    justify-content: flex-end;
    margin-block: 30px;
}

.Holder_home {
    width: 60%;
}

.container_wrapper_2 {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    background-position: center center;
    background-repeat: repeat;
    z-index: 5;
    /* background-image: url("https://dk-media.s3.amazonaws.com/media/1z3x0/template/attachments/36685473/bg70.png"); */
    background-color: black
}

.btt {
    line-height: 1.2;
    font-weight: normal;
    color: #E19622;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

.box_note_icon {
    color: #E19622;
    background: transparent;
    font-family: 'doodlepic';
    font-weight: normal;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-style: normal !important;
    font-size: 120%;
}


.outer_title {

    display: block;
    border-bottom: 2px solid #F7F3E4;
}

.content_inner {

    margin: 20px;
    padding: 5px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background: black;

}


.inner_box {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    color: #584f47;
    margin: 20px;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #ECE2CE;

}
